<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1040156129909-7lsr8uoq2vqt0m3c8dnf253bl78iq3jo</string>
			</array>
		</dict>
	</array>
	<key>REVISION</key>
	<string>3f62deb</string>
</dict>
</plist>
